/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0098da;
  --ifm-color-primary-dark: #0089c4;
  --ifm-color-primary-darker: #0081b9;
  --ifm-color-primary-darkest: #006a99;
  --ifm-color-primary-light: #00a7f0;
  --ifm-color-primary-lighter: #00affb;
  --ifm-color-primary-lightest: #1cbaff;

  --ifm-color-secondary: #f8f8f8;

  --ifm-code-font-size: 95%;
  --ifm-h4-font-size: 1.1rem;

  --flet-link-color: #008dfb;
  --ifm-link-color: var(--flet-link-color);
  --ifm-navbar-link-hover-color: var(--flet-link-color);

  --docusaurus-highlighted-code-line-bg: rgb(220, 221, 223);

  /* navbar */
  /* --ifm-navbar-padding-vertical: 0.5rem;
  --ifm-navbar-padding-horizontal: 0.7rem; */
  --ifm-navbar-background-color: #fff;

  /* menu */
  --ifm-menu-color-active: var(--flet-link-color);
  --ifm-tabs-color-active: var(--flet-link-color);
}



.navbar__logo {
  /* width: 42px; */
  height: 30px;
}

.flet-hero h1 {
  color: #008dfb;
  font-size: 50px;
  font-weight: 700;
  margin-top: 2rem;
}

.hero__subtitle {
  color: #555;
  font-size: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .flet-hero h1 {
    font-size: 38px;
    font-weight: 500;
    margin-top: 1rem;
  }

  .hero__subtitle {
    font-size: 18px;
  }
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.card {
  height: 100%;
}

.gallery-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.gallery-footer {
  display: flex;
  flex-direction: row;
}

.gallery-github-link::before {
  content: '';
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
  background-size: 18px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  text-align: right;
}

.gallery-github-link:hover {
  opacity: 0.6;
}

[data-theme='dark'] .gallery-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.gallery-live-link {
  flex: 1;
}

.gallery-live-link img {
  border-radius: 5px;
  height: inherit !important;
  max-width: inherit !important;
  max-height: 200px;
}

.gallery-description {
  font-size: 0.9rem;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
} */

.icon-button {
  vertical-align: text-bottom;
  background-color: #eee;
  border-radius: 2px;
  padding: 1px;
  width: 22px;
}

.screenshot,
.screenshot-10,
.screenshot-20,
.screenshot-30,
.screenshot-40,
.screenshot-50,
.screenshot-60,
.screenshot-70,
.screenshot-80,
.screenshot-90,
.screenshot-100 {
  display: block;
  text-align: center;
  margin: auto auto var(--ifm-paragraph-margin-bottom);
}

.screenshot {
  width: 100%;
}

.screenshot-10 {
  width: 10%;
}

.screenshot-20 {
  width: 20%;
}

.screenshot-30 {
  width: 30%;
}

.screenshot-40 {
  width: 40%;
}

.screenshot-50 {
  width: 50%;
}

.screenshot-60 {
  width: 60%;
}

.screenshot-70 {
  width: 70%;
}

.screenshot-80 {
  width: 80%;
}

.screenshot-90 {
  width: 90%;
}

.screenshot-100 {
  width: 100%;
}

.screenshot-rounded {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 768px) {

  .screenshot,
  .screenshot-40,
  .screenshot-50,
  .screenshot-60,
  .screenshot-70 {
    width: auto;
  }

  .screenshot-10 {
    width: 30%;
  }
}

.control-demo {
  color: var(--ifm-color-secondary-lightest);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: var(--ifm-color-primary);
  transition: background 0.6s;
}

.control-demo:hover {
  color: var(--ifm-color-secondary-lightest);
  text-decoration: none;
  background-color: var(--ifm-color-primary-darkest);
}

/* Dark theme */
html[data-theme='dark']:root {
  --flet-link-color: #02aaf2;
  --ifm-background-color: #181A21;
  --ifm-navbar-background-color: #181A21;
  --ifm-footer-background-color: #1f2127;
  --ifm-color-secondary: #2f2f2f;
  --docusaurus-highlighted-code-line-bg: rgb(76, 81, 90);
}

html[data-theme='dark'] .navbar__title {
  color: #f0f0f0;
}

html[data-theme='dark'] .flet-hero h1 {
  color: #3ba9fd;
}

html[data-theme='dark'] .hero__subtitle {
  color: var(--ifm-color-emphasis-600);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgb(50, 52, 64);
}

.legal ol {
  counter-reset: item;
  list-style-type: none;
}

.legal>ol>li {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 1.5rem 0;
}

.legal ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.legal ol ol ol li:before {
  content: none;
}

.legal ol ol {
  list-style-type: none;
}

.legal ol ol li {
  text-transform: none;
  margin: 0.5rem 0;
}

.legal ol ol ol {
  list-style-type: lower-alpha;
}

.legal ol ol ol ol {
  list-style-type: lower-roman;
}

.legal ol ol ol ol ol {
  list-style-type: upper-alpha;
}